<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>#include</title>

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="http://www.includedavis.com/" style = "color: #1ABC9C" >#include</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" style="color: #1ABC9C" href="/#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" style="color: #1ABC9C" href="">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" style="color: #1ABC9C" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="services">
        <div class="container" style = 'text-align: center'>
            <div class="row text-center">
	    <h1 id = "homeHeading" >Projects</h1><br>
	    <h2 class="section-heading" id = "about-heading" > Current Project</h2>
            <hr class="about-hr">
	    <!--image on left-->
	    <div class="col-sm-6">
	        <div class="card">
		</div>
	    </div>
	    <!--text on right-->
	    <div class="col-sm-6">
	        <div class="card card-body card-block text-left">
		  <p class="about-text" style="font-size:16px">Imani Health Clinic is a local non-profit organization in the Oakpark neighborhood of Sacramento that provides healthcare services to ethnically diverse minority groups and those classified as working poor or unemployed.</p>
		  <p class="about-text" style="font-size:16px">
		    <b>The Problem :</b>
		    Imani clinic needed to improve their current website away from a non-modern CMS format into a functional HTML/CSS website for community members to easily navigate their vast offering of services, volunteers to understand their mission, and a simple way to update features when new programs arise.</p>
		  <p class="about-text" style="font-size:16px">
		    <b>Solution</b>
		  </p>
		  <p class="about-text" style="font-size:16px">
		    <b>Project Leads:</b>
		    Rishi Dutta and Christie Frush</p>
                </div>
	    </div>
	    
	    <h2 class="section-heading" id = "about-heading" >Past Projects</h2>
            <hr class="about-hr">
            <p class="about-text" style = 'text-align: center'> During Spring Quarter 2017, three of our development teams worked with three local non-profits to create new websites. We worked with the organizations to produce a website that met each of their needs. Below you can read a bit about each of the projects that we have completed.</p>
            <br><br><br>
                <div class="col-sm-4">
                    <div class="card" >
                      <img src="img/portfolio/1.jpg" class="img-responsive card-img-top" alt="card image cap">
                      <div class="card-body card-block text-left">
                        <p class="about-text" style = " font-size: 16px">FARM Davis is a non-profit organization located in Davis, CA. FARM Davis assists low-income and homeless populations by donating crops grown on donated land using volunteer labor and sustainable farming practices. </p>

                        <p class = "about-text" style = "font-size: 16px">
                        <b>The Problem :</b>
                        FARM Davis approached #include with a problem regarding data. Their existing system for recording donations utilized dense excel spreadsheets that were hard to keep track of and difficult to analyze. The data was stored on a local network, so data had to be brought to and entered on local computers. </p>

                        <p class = "about-text" style = "font-size: 16px">
                        <b> The Solution</b>
                        #include introduced a solution for FARM Davis in the form of a web application called the FARM Davis Crop Tracker. The Crop Tracker allows FARM Davis to record donation information from any device with an internet connection, and stores the information in a SQL database that allows information to easily and quickly be queried. The application is built on Ruby on Rails  and provides features such as user authentication and categorization of crops. </p>

                        <p class = "about-text" style = "font-size: 16px">
                        <b>Project Leads:</b> Otto Chen and Austen Winters
			</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" >
                      <img src="img/portfolio/2.png" class="img-responsive card-img-top" alt="card image cap">
                      <div class="card-body card-block text-left">
                        <p class="about-text" style = " font-size: 16px">PLASMA provides seed capital, working spaces, and a plethora of networking opportunities to the Davis startup community.
                            Their 12 week incubator culminates with Demo Day, where ventures pitch to a large audience of qualified investors for a top prize of $5,000.
                        </p>
                        <p class = "about-text" style = "font-size: 16px">
                        <b> Our Solution</b>
                            Developing a clean, modern website for PLASMA's 2018-19 program. The finished product can be found <a href="https://ucplasma.com/" target="#">here</a>
                        </p>

                        <p class = "about-text" style = "font-size: 16px">
                        <b>Project Lead:</b> Megan Brown
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" >
                      <img src="img/portfolio/3.jpg" class="img-responsive card-img-top" alt="card image cap">
                      <div class="card-body card-block text-left">
                        <p class="about-text" style = " font-size: 16px">GRID Alternatives, headquartered in Oakland, CA, is a non-profit solar installer with regional ​offices throughout California, and ​in NY, DC, Colorado, and Nicaragua, whose mission is to make renewable energy technology and job training accessible to underserved communities. GRID designs and installs photovoltaic solar electric systems for the homes of qualifying families at no cost, while training job trainees and volunteers in solar installation skills.</p>

                        <p class = "about-text" style = "font-size: 16px">
                        <b>The Problem :</b>
                        The GRID Alternatives North Valley regional office, covering territory throughout northern California from the Sacramento area to the Oregon border, wanted to understand how they could better characterize and inform their outreach and community service by gaining more insight on client, volunteer, and staff demographics. They wanted to compare the demographic profiles of GRID program participants by census tract with the demographic profiles of the regions they serve from the most recent U.S. Census, focusing on factors such as race/ethnicity, gender, age, and more.
                        </p>

                        <p class = "about-text" style = "font-size: 16px">
                        <b> The Solution</b>
                        The #include team provided a solution that followed a step-by-step analysis of each census tract, completed for each specified variable. We quantified a value for each demographic factor as a function of the respective factor from the official U.S. Census. We also looked at average energy savings due to the installed solar-electric system for GRID clients within each census tract considered. The results of this analysis will help GRID Alternatives gain a better understanding of how effectively they are serving within various regions, optimize their outreach and training methods for clients, trainees, staff, and other supporters, and support the community in an even more robust way by implementing their mission of making renewable energy accessible for everyone. </p>

                        <p class = "about-text" style = "font-size: 16px">
                        <b>Project Leads:</b> Sailesh Patnala and Stephan Zharkov

                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--Footer-->
    <footer  id = "page_footer">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-xs-3">
                        <p id = "footer_include">#INCLUDE</p>
                        <p id = "footer_links" style = "font-size: 12px"> Davis, CA 95616 </p>


                    </div>
                    <div class="col-xs-3">
                        <p id = "footer_heading"> General </p>
                        <a class="page-scroll" id = "footer_links" href="/#about"> About </p>
                        <a class="page-scroll" id = "footer_links" href="/projects"> Projects </p>
                        <a class="page-scroll" id = "footer_links" href="/#contact"> Contact </p>
                    </div>
                    <div class="col-xs-3">
                        <p id="footer_heading"> Apply </p>
                        <a id="footer_links" href="https://include.typeform.com/to/KZVOw9"> Students </a>
                        <br>
                        <br>
                        <a id="footer_links" href="https://include.typeform.com/to/B7tgHO"> Non-profits </a>
                    </div>
                    <div class="col-xs-3" style = 'text-align: center'>
                        <p id = "footer_heading"> Social Media </p>
                        <a class="social-btn" href="https://www.facebook.com/includedavis/">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <br>
                        <br>
                        <a class="social-btn" href="https://www.linkedin.com/company/17925575/">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <br>
                        <br>
                        <a class="social-btn" href="https://github.com/includedavis">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/typing.js"></script>


    <script src="js/typed.js"> </script>
    <script>
    $(function(){
        $(".element").typed({
            strings: ["First sentence.", "Second setence."],
            typedSpeed: 0
        });
    });
    </script>

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="js/creative.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>



</body>

</html>
